.rectangle {
    width: 500px;
    height: 300px;
    background-color: rgba(164, 164, 164, 0.5);
    border: 2px solid #000;
    position: fixed;
    top: 180px;
    left: 439px; /* Posición inicial a la izquierda */
    transition: left 0.5s; /* Transición suave de movimiento */
}

body {
    background-image: url('Inicio.jpg');         /* URL de la imagen de fondo */
    background-size: cover;                 /* Ajustar la imagen para que cubra toda la pantalla */
    background-repeat: no-repeat;           /* Repetir la imagen si no llena la pantalla */
    background-position: center center;     /* Alinear la imagen en el centro */
    background-attachment: fixed;           /* Fijar la imagen para que no se mueva al hacer scroll */
    background-color: #030000;            /* Añadir un color de fondo de reserva */
    margin: 0; /* Eliminar margen predeterminado del cuerpo */

}

.h1-special {
    color: rgb(255, 255, 255); /* Color blanco */
    position: absolute; /* Cambiar posición absoluta */
    top: 170px; /* Nueva posición desde arriba */
    left: 600px; /* Nueva posición desde la izquierda */
}

.CorreoElectronicoMOV {
    position: absolute; /* Establece la posición absoluta para poder usar las propiedades top y left */
    top: 290px; /* Mueve la caja de texto 50px hacia abajo desde la parte superior */
    left: 560px; /* Mueve la caja de texto 50px hacia la derecha desde el borde izquierdo */
}

.ContrasenaMOV {
    position: absolute; /* Establece la posición absoluta para poder usar las propiedades top y right */
    top: 370px; /* Mueve la caja de texto 50px hacia abajo desde la parte superior */
    left: 560px; /* Mueve la caja de texto 50px hacia la izquierda desde el borde derecho */
}
  
.cajaTexto {
    width: 250px; /* Ancho de 200px */
    height: 20px; 
}

label, .myButton {
    font-size: 16px; 
    font-family: Arial, sans-serif; /* Estilo de fuente */
    font-weight: bold; 
}

#Login {
    padding: 10px 20px;
    font-size: 20px; 
    position: absolute;
    top: 420px; /* Ajusta la posición vertical según sea necesario */
    left: 820px; /* Ajusta la posición horizontal según sea necesario */
}

#Registrar {
    padding: 10px 15px;
    font-size: 20px; 
    position: absolute;
    top: 420px; /* Ajusta la posición vertical según sea necesario */
    left: 460px; /* Ajusta la posición horizontal según sea necesario */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative; /* Añadir para hacer que .close esté posicionado relativamente a .modal-content */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.logo {
    width: 250px; /* Ancho deseado de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    position: absolute; /* Posición absoluta para mover la imagen */
    top: 11%; /* Coloca la parte superior de la imagen en el 50% del contenedor padre */
    left: 6%; /* Coloca la parte izquierda de la imagen en el 50% del contenedor padre */
    transform: translate(-50%, -50%); /* Centra la imagen en relación con su propio tamaño */
    filter: brightness(900%); /* Aumenta el brillo de la imagen al 150% */
 
}

.botonImagen {
    position: absolute;
    top: 20px; 
    left: 1280px; 
    padding: 5px; 
    background-color: transparent;
    border: none; /* Sin borde */
    cursor: pointer; 
}

.botonImagen img {
    width: 55px; 
    height: auto; 
}
